GEMINI_API_KEY=
PORT=3000
ENABLE_BRIDGE_AWARE_PRUNING=
ENABLE_BUDGET_AWARE_TRAVERSAL=
ENABLE_TARJAN_COMPRESSION=
GIANT_SCC_THRESHOLD=
MAX_REPORT_BUDGET=
MAX_TOKEN_BUDGET=
NEO4J_DATABASE=
NEO4J_PASSWORD=
NEO4J_URI=
NEO4J_USERNAME=
OLLAMA_BASE_URL=
OLLAMA_EMBED_MODEL=
OLLAMA_LARGE_MODEL=
OLLAMA_SMALL_MODEL=